@model _6313Titan.ViewModels.ContactFormViewModel
@{
    /**/

    ViewBag.Title = "ContactForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContactForm</h2>

@using (Html.BeginForm("Save", "Contact"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Contact.Name)
        @Html.TextBoxFor(m => m.Contact.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contact.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contact.Email)
        @Html.TextBoxFor(m => m.Contact.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contact.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contact.WorkNumber)
        @Html.TextBoxFor(m => m.Contact.WorkNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contact.WorkNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contact.MobileNumber)
        @Html.TextBoxFor(m => m.Contact.MobileNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contact.MobileNumber)

    </div>


    @Html.HiddenFor(m => m.Contact.Id)
    @Html.HiddenFor(m => m.PortalId)


    <button type="submit" class="btn btn-primary">Save</button>
}