@model _6313Titan.ViewModels.PortalUserViewModel

@{
    ViewBag.Title = "Portalform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <h2>@Model.Portal.Name</h2>
</div>


 
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <table>
                    <tr>
                        <td><button onclick="GetAllEmployees();return false;">Get All Employees</button></td>
                        <td>Enter Employee Id: <input type="text" id="txtEmpid" style="width:50PX" /></td>
                        <td><button onclick="GetEmployee();return false;">Get Employee</button></td>
                        <td>
                            <table>
                                <tr><td>EmpId:</td><td><input type="text" id="txtaddEmpid" /></td></tr>
                                <tr>  <td>Emp Name:</td><td><input type="text" id="txtaddEmpName" /></td></tr>
                                <tr> <td>Emp Department:</td><td><input type="text" id="txtaddEmpDep" /></td></tr>
                                <tr><td>Mobile no:</td><td><input type="text" id="txtaddEmpMob" /></td></tr>
                            </table>
                        </td>
                        <td><button onclick="AddEmployee();return false;">Add Employee</button></td>
                        <td>Delete Employee <input type="text" id="txtdelEmpId" style="width:50PX" /></td>
                        <td><button onclick="DeleteEmployee(); return false;">Delete Employee</button></td>
                    </tr>
                </table>

            </div>
        </div>
    </section>
 

<div class="row">

 
    <script>

        function GetAllEmployees() {
            jQuery.support.cors = true;
            $.ajax({
                url: '../../api.cases',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

    function WriteResponse(employees) {
    var strResult = "<table>
        <th>EmpID</th>
        <th>Emp Name</th>
        <th>Emp Department</th>
        <th>Mobile No</th>";
        $.each(employees, function (index, employee) {
        strResult += "
        <tr><td>" + employee.ID + "</td><td> " + employee.EmpName + "</td><td>" + employee.EmpDepartment + "</td><td>" + employee.EmpMobile + "</td></tr>";
        });
        strResult += "
    </table>";
    $("#divResult").html(strResult);
    }
    </script>

    @foreach (var portalCase in Model.PortalCases)
    {
        <div class="col-md-4">
            <h2>@portalCase.Subject</h2>
            <div class="row imagetile">
                <div class="col-md-5">
                    <table>
                        <tbody>
                            <tr>
                                @*<td>
                                        <div class="left-image">
                                            <img style="width:90px" src="~/Content/Images/gonzo.jpg" />
                                        </div>
                                    </td>*@
                                <td>
                                    <div style="horz-align: right;">
                                        <div class="e-exptitle">
                                            <label class="e-name">
                                                Owner: @User.Identity.Name
                                            </label><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <p>
                @portalCase.Description
            </p>
        </div>
    }
</div>

<p><a class="btn btn-default" style="width: 200px" onclick="location.href='@Url.Action( "New", "Cases", new { PortalId = Model.Portal.Id }, null)'">Add Case</a></p>

